@model List<MBSCHospitalApp.Models.Entities.User>

<h2>Select User</h2>

<form asp-action="SelectUser" method="post">
    <select name="userId" class="form-control">
    @foreach (var user in Model)
    {
        <option value="@user.Id">@user.UserName @(user.IsAdmin ? "(Admin)" : "(Patient)")</option>
    }
    </select>
    <button type="submit" class="btn btn-primary mt-2">Continue</button>
</form>